
   *{
	text-decoration: none;
	list-style: none;
    }
    
    
    /* 轮播图开始*/
    .lbt{
        position: absolute;
       left:22.5%;
         
    }
    .lbt ul li{
        position: absolute;
        width: 680px;
        height: 390px;
        margin:0%;
    }

    li img{
        width: 100%;
        height: 100%;
        
    }
    
    .li{
        opacity: 0.7;  
    }
    
    .l1{
        animation: l1 18s ease-in-out infinite;
        -webkit-animation: l1 18s ease-in-out infinite;
    }
    @keyframes l1{
        0%{clip-path: polygon(0 0,0 0,0 100%,0 100%);}
        20%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    @-webkit-keyframes l1{
        0%{clip-path: polygon(0 0,0 0,0 100%,0 100%);}
        20%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    
    .l2{
        animation: l2 18s ease-in-out infinite;
        -webkit-animation: l2 18s ease-in-out infinite;
    }
    @keyframes l2{
        0%{clip-path: polygon(0 0,0 0,100% 0,100% 0);}
        20%{clip-path: polygon(0 0,0 0,100% 0,100% 0);}
        40%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    @-webkit-keyframes l2{
        0%{clip-path: polygon(0 0,0 0,100% 0,100% 0);}
        20%{clip-path: polygon(0 0,0 0,100% 0,100% 0);}
        40%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    
    .l3{
        animation: l3 18s ease-in-out infinite;
        -webkit-animation: l3 18s ease-in-out infinite;
    }
    @keyframes l3{
        0%{clip-path: polygon(0 0,0 0,0 0,0 0);}
        40%{clip-path: polygon(0 0,0 0,0 0,0 0);}
        60%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    @-webkit-keyframes l3{
        0%{clip-path: polygon(0 0,0 0,0 0,0 0);}
        40%{clip-path: polygon(0 0,0 0,0 0,0 0);}
        60%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    
    .l4{
        animation: l4 18s ease-in-out infinite;
        -webkit-animation: l4 18s ease-in-out infinite;
    }
    @keyframes l4{
        0%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        60%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        80%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    @-webkit-keyframes l4{
        0%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        60%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        80%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    
    .l5{
        animation: l5 25s ease-in-out infinite;
        -webkit-animation: l5 18s ease-in-out infinite;
    }
    @keyframes l5{
        0%{clip-path: polygon(50% 50%,50% 50%,50% 50%,50% 50%);}
        80%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        100%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    @-webkit-keyframes l5{
        0%{clip-path: polygon(50% 50%,50% 50%,50% 50%,50% 50%);}
        80%{clip-path: polygon(100% 0,100% 0,0 100%,0 100%);}
        100%{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
    }
    /* 轮播图结束*/

    /* 页面文字部分*/
    .page1, .page2,.page3,.page4,.page5{
       
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      
      .page1{
        min-height: 545px;
        background-image: url('img/abaijia.jpg');
      }
      .page2{
        min-height: 545px;
        background-image: url('img/ashangyang.jpg');
      }
      .page3{
        min-height: 545px;
        background-image: url('img/atongyi.jpg');
      }
      .page4{
        min-height: 545px;
        background-image: url('img/azhangqian.jpg');
      }
      .page5{
        min-height: 545px;
        background-image: url('img/awuzetian.jpg');
      }
      .section{
        text-align: center;
        padding: 100px 60px;
        font-size: 20px;
      }
      .section-first{
        background-color:rgb(236, 222, 205);
        color: #111;/* 这里要淡一点*/
        margin-top: 390px;
      }
      
      .section-dark{
        
        background-color:rgb(67, 31, 7);
        color: #FFF;/* 这里要透明*/
      }
      .section-light{
        background-color:rgb(236, 222, 205);/* 这里要透明*/
        color: #111;
      }
      
      