*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'ancient';
}
@font-face {
	font-family: 'ancient';
	src: url('word.ttf');
  }
  


li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
    }
a {text-decoration: none;}


button,
input {
  border: 0;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    background: url(https://cdn.acautomaton.com/cdn/static/txy/web/jingxiu.jpg) no-repeat 100% fixed;
}

.hide.none {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

   body.div {
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }

  nav {
    background-image: linear-gradient(1deg, rgba(194, 255, 239, 0.543), rgba(248, 216, 209, 0.731));
    width: 100%;
    height: 60px;
    
  }
  nav a {
    color: rgb(158, 83, 37);
    text-decoration: none;
}

  nav a:hover {
    color: #cdb573;
}
  
  nav ul {
    display: flex;
    width: 1080px;
    margin: 0 auto;
  }
  
  nav ul .column {
    flex: 1;
    height: 60px;
   transition: 0.6s ease-in-out;
  }

  
  nav ul .column a {
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 400;
    color: rgb(158, 83, 37);
    text-decoration: none;
  }
 

  nav ul .column a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid #964242;
  }
 

  li.dropdown {
    display: inline-block;
  }

  .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6eddb;
    width:182px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
   main {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 620px;
    border-radius: 25px;
    background-image: linear-gradient(45deg, rgba(163, 255, 231, 0.6), rgba(255, 193, 179, 0.6));
    margin: 40px auto 0px;
  }
  
  main .left {
    flex: 1.78;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 620px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
  }
  
  main .left div {
    width: 100%;
    flex: 3;
    text-align: center;
  }
  
  main .left div:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
  }
  
  main .left div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #427d96;
    font-size: 20px;
    font-weight: 700;
  }
  
  main .left div a:hover {
    color: #000;
  }
  
  main .left .myPhoto {
    flex: 5;
    padding: 15px auto;
    text-align: center;
    background: url(https://cdn.acautomaton.com/cdn/static/txy/web/laoshi.jpg)  100% fixed;
  }
  
  main .left .myPhoto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #f3c086;
    font-size: 22px;
  }
  
  main .left .myPhoto a img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px auto;
  }
  
  main .left .myPhoto a p {
    margin: 10px auto;
  }
  
  main .right {
    position: relative;
    flex: 8;
  }
  
  main .right .content {
    display: flex;
    position: absolute;
    top: 100%;
    left: 2%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    float: right;
    width: 98%;
    height: 620px;
    
  }
  
  main .right .content:nth-child(1) {
    top: 0;
  }
  
  main .right .content img {
    width: 640px;
    height: 360px;
    border-radius: 25px;
    /* background-size: 50%; */
    margin: 40px auto;
  }
  
  main .right .content p {
    color: #426696;
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto 0;
  }
  
 
  
  main .right .content #gy {
    width: 520px;
    height: 293px;
  }
   .report {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
   .report a{ 
    color: rgb(9, 63, 56);
    left: -600px;
  }