@font-face {
	font-family: 'introduction';
	src: url(yuwei.ttf);
  }

.whole {
    background:url(img/qing.jpg) no-repeat 100% fixed;
    border-radius: 5px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 100px;
    
}


.whole p {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 500;
    
}
.introduce {
    display: block;
    width: 100%;
    margin-top: 100px;
  }
  
  .introduce .kong{
    height: 50px;
  }
  
  .introduce .title {
    position: relative;
    top: 25px;
    font-size: 35px;
  }
  .small-box {
    border: 1px solid rgb(207, 163, 163);
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px rgb(9 75 82 / 50%);
    background-color: #ffffff;
  }
  
  .small-box:hover {
    scale: 1.04;
  }
  
  
  .box-left {
    position: absolute;
    width: 25%;
    left: 5%;
    top: -40px;
    margin-top: 4% ;
  }
  
  .box-left img {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 3px solid rgb(220, 188, 133);
    width: 100%;
  }
  
  .box-right h1 {
    color: black;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'introduction';
  }
  
  .box-right {
    position: absolute;
    right: 10px;
    top: 35px;
    width: 65%;
  }
  
  .box-right p {
    margin-left: 15px ;
    width: 90%;
    text-indent: 2em;
    text-align: start;
    font-size: 22px ;
    color: black;
    margin-top: 30px ;
  }

  
  